[workspace]
resolver = "2"
members = [
    "crates/*",
]

[workspace.package]
rust-version = "1.67"

[workspace.dependencies]
dropshot = "0.10.0"
expectorate = "1.0.6"
newtype-uuid = { path = "crates/newtype-uuid" }
prettyplease = "0.2.22"
# Ideally we'd let you use no-std proptest, but proptest requires either the std
# or the no_std option to be set. It won't compile without one of those two set.
proptest = { version = "1.5.0", features = ["std"], default-features = false }
schemars = "0.8.17"
serde = "1"
serde_json = "1.0.115"
syn = "2.0.48"
test-strategy = "0.4.0"
typify = "0.4.2"
uuid = { version = "1.7.0", default-features = false }
