[workspace]
resolver = "2"
members = [
    "crates/*",
]

[workspace.package]
rust-version = "1.64"

[workspace.dependencies]
dropshot = "0.10.0"
expectorate = "1.0.6"
newtype-uuid = { path = "crates/newtype-uuid" }
prettyplease = "0.2.22"
proptest = "1.5.0"
schemars = "0.8.17"
serde = "1"
serde_json = "1.0.115"
syn = "2.0.48"
typify = "0.0.15"
uuid = { version = "1.7.0", default-features = false }
