[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

[dependencies]
newtype-uuid = { version = "0.3.0", path = "../newtype-uuid" }
dropshot = { version = "0.10.0", optional = true }
expectorate = { version = "1.0.6", optional = true }
prettyplease = { version = "0.2.16", optional = true }
schemars = { version = "0.8.0", optional = true }
serde = { version = "1", optional = true }
serde_json = { version = "1.0.113", optional = true }
syn = { version = "2.0.48", optional = true }
typify = { version = "0.0.15", optional = true }

[features]
internal-schemars08-tests = ["newtype-uuid/schemars08", "newtype-uuid/serde", "dep:dropshot", "dep:expectorate", "dep:prettyplease", "dep:serde_json", "dep:syn", "dep:typify"]
