# adapted from https://github.com/taiki-e/cargo-hack/blob/main/.github/workflows/release.yml

name: Publish release
on:
  push:
    tags:
      - "*"

jobs:
  newtype-uuid-release:
    if: github.repository_owner == 'oxidecomputer' && startsWith(github.ref_name, 'newtype-uuid-1')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@just
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-release@0.25
      - run: just ci-cargo-release newtype-uuid
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - uses: taiki-e/create-gh-release-action@26b80501670402f1999aff4b934e1574ef2d3705 # v1
        with:
          changelog: CHANGELOG.md
          title: newtype-uuid $version
          branch: main
          prefix: newtype-uuid
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  newtype-uuid-macros-release:
    if: github.repository_owner == 'oxidecomputer' && startsWith(github.ref_name, 'newtype-uuid-macros-')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@just
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-release@0.25
      - run: just ci-cargo-release newtype-uuid-macros
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - uses: taiki-e/create-gh-release-action@26b80501670402f1999aff4b934e1574ef2d3705 # v1
        with:
          changelog: crates/newtype-uuid-macros/CHANGELOG.md
          title: newtype-uuid-macros $version
          branch: main
          prefix: newtype-uuid-macros
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
